%form(method="post" action=@link)
  %input{:type=>"hidden",:name=>"fk_topic",:value=>@info["fk_topic"]}
  %input{:type=>"hidden",:name=>"pk",:value=>@info["pk"]}
  - if @info["fk_topic"] == "6"
    %h3 Linked to drugs
    %ol
    - unless @info["pk"] == -1
      - @atcs.each do |a|
        %li= "#{a['atcname']} (#{a['atccode']})"
    - else
      - i = 0
      - @atcs.each do |a|
        - i += 1
        %li
          = autocomplete("atc#{i}","/search_atc","#{a['atcname']} (#{a['atccode']})")
      %li
        = autocomplete("atc#{i+1}","/search_atc","")
      - if i < 3
        %li
          = autocomplete("atc#{i+2}","/search_atc","")
  - else
    %h2= "Editing #{@topic_name} on #{@atcs[0]['atcname']} (#{@atcs[0]['atccode']})"

  %h3 Comment Text (using <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a>)

  %textarea{:name=>"comment",:rows=>20}
    = @info["comment"]

  %h3 Severity Level

  = sql_option("drugs.severity_level","severity",@info["fk_severity"])

  %h3 Pharmacologic Mechanism

  = sql_option("drugs.pharmacologic_mechanisms","mechanism",@info["fk_pharmacologic_mechanism"])

  %h3 Evidence Level

  = sql_option("drugs.evidence_levels","evidence_level",@info["fk_evidence_level"])

  %h3 Patient Category

  = sql_option("drugs.patient_categories","category",@info["fk_patient_category"])

  %h3 Sources

  %p Not done yet

  %p
    %input{:type=>"submit",:value=>"Submit"}
