%h1= "#{@atc['atcname']} (#{@atc['atccode']})"
- @topics.each do |t|
  %h2= t['title']
  - if @info[t['pk']]
    %table.drugtable
      %tr
        %th.sidebar Linked To
        %th.info Information
        %th.changes Changes
      - @info[t['pk']].each do |i|
        %tr
          %td
            - if i['actual_atccode'] != i['atccode']
              %p
                = "Inherited from #{i['actual_atcname']}("
                %a{:href=>'/show/'+i['actual_atccode']}= i['actual_atccode']
                = ")"
            - i['other_atcs'].each do |a|
              %p
                = "Linked to #{a['atcname']}("
                %a{:href=>'/show/'+a['atccode']}= a['atccode']
                = ")"
          %td
            = markdown(i['comment'])
            %p
              %strong Pharmacologic Mechanism:
              = i['pharmacologic_mechanism']
            %p
              %strong Severity Level:
              = i['severity']
            %p
              %strong Evidence Level:
              = i['evidence_level']
            %p
              %strong Patient Category:
              = i['patient_category']
            %h4 Sources
            %ul
              - i['sources'].each do |s|
                %li= markdown s['source']
          %td
            %p
              %form{:action=>'/edit_info/'+i['pk'],:method=>"link"}
                %input{:type=>"submit",:value=>"Edit"}
            %p
              %form{:action=>'/delete_info',:method=>"post",:onsubmit=>"javascript:return confirm('Are you sure?');"}
                %input{:type=>"hidden",:name=>"fk_info",:value=>i['pk']}
                %input{:type=>"hidden",:name=>"original_atc",:value=>@atc['atccode']}
                %input{:type=>"submit",:value=>"Delete"}
  %p
    %form{:action=>'/new_info',:method=>"get"}
      %input{:type=>"hidden",:value=>t['pk'],:name=>"fk_topic"}
      %input{:type=>"hidden",:value=>@atc['atccode'],:name=>"atc"}
      %input{:type=>"submit",:value=>"New #{t['title']}"}
